<?xml version="1.0" encoding="utf-8"?>

<Package
        xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
        xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
        xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
        IgnorableNamespaces="uap mp">

    <Identity
            Name="25769boris1993.XonWindows"
            Publisher="CN=8E556DC1-97D1-444A-A266-10E76FE89AC1"
            Version="1.0.1.0" />

    <mp:PhoneIdentity PhoneProductId="e2355e69-9875-4842-a9be-063e1a7bcf0c"
                      PhonePublisherId="00000000-0000-0000-0000-000000000000" />

    <Properties>
        <DisplayName>XoW</DisplayName>
        <PublisherDisplayName>boris1993</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate" />
    </Resources>

    <Applications>
        <Application Id="App"
                     Executable="$targetnametoken$.exe"
                     EntryPoint="XoW.App">
            <uap:VisualElements
                    DisplayName="X岛 on Windows"
                    Square150x150Logo="Assets\Square150x150Logo.png"
                    Square44x44Logo="Assets\Square44x44Logo.png"
                    Description="一个使用UWP开发的非官方X岛客户端"
                    BackgroundColor="transparent">
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" />
                <uap:SplashScreen Image="Assets\SplashScreen.png" />
                <uap:InitialRotationPreference>
                    <uap:Rotation Preference="landscape" />
                    <uap:Rotation Preference="landscapeFlipped" />
                </uap:InitialRotationPreference>
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient" />
        <uap:Capability Name="picturesLibrary" />
    </Capabilities>
</Package>